// Tablets & Smaller
@media (max-width: 768px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }

  // Footer
  #main-footer {
    height: 6rem;

    .footer-content {
      height: 6rem;
      font-size: 12px;

      .social {
        & h4 {
          // font-size: 10px;
        }

        .fab {
          height: 12px;
          width: 12px;
          line-height: 12px;
          padding: 0.5rem;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

// Smartphones
@media (max-width: 425px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    #logo {
      height: 50px;
      width: 50px;
      align-self: start;
    }

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }
    }

    &-inner {
      height: 10rem;
    }
  }

  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-c {
      display: none;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px #555 solid;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer
  #main-footer {
    height: 9rem;

    .footer-content {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1rem;
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }

  // Footer
  #main-footer {
    height: 8rem;

    .footer-content {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1rem;
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
